---
layout: page
title: Screenshots
slug: screenshots
---
<div>
	<p>Some LXQt themes with different configurations.
	<br/>The settings of LXQt-Panel, Desktop and Appearance offer many possibilities
	 for individual customizations. More information about theming can be found
	 in the <a href="https://github.com/lxqt/lxqt/wiki/Theming" title="Theming LXQt">LXQt Wiki</a>.
	</p>
</div>

<ol>
{% for screenshot in site.screenshots %}{% if screenshot.screenshots %}
	<li>
		<a href="{{ screenshot.url | relative_url }}" title="{{ screenshot.title }}">
			<figure>
				<header>
					<hgroup>
						<h1>{{ screenshot.title }}</h1>
					</hgroup>
				</header>
				<div class="wrapper">
					<main>
						<img src="{{ screenshot.src | relative_url }}" alt="{{ screenshot.alt }}"/>
					</main>
					<footer>{{ screenshot.caption }}</footer>
				</div>
			</figure>
		</a>
	</li>{% endif %}
{% endfor %}
</ol><hr>
<div><h2>Application Screenshots</h2>
<center><p> Filemanager PcManFM-Qt </p></center>
</div>
<ol>
{% for screenshot in site.screenshots %}{% if screenshot.pcmanfm-qt %}
	<li>
		<a href="{{ screenshot.url | relative_url }}" title="{{ screenshot.title }}">
			<figure>
				<header>
					<hgroup>
						<h1>{{ screenshot.title }}</h1>
					</hgroup>
				</header>
				<div class="wrapper">
					<main>
						<img src="{{ screenshot.src | relative_url }}" alt="{{ screenshot.alt }}"/>
					</main>
					<footer>{{ screenshot.caption }}</footer>
				</div>
			</figure>
		</a>
	</li>{% endif %}
{% endfor %}
</ol>
<div>
<br/>
<center><p>Other Applications</p></center>
</div>
<ol>
{% for screenshot in site.screenshots %}{% if screenshot.other %}
	<li>
		<a href="{{ screenshot.url | relative_url }}" title="{{ screenshot.title }}">
			<figure>
				<header>
					<hgroup>
						<h1>{{ screenshot.title }}</h1>
					</hgroup>
				</header>
				<div class="wrapper">
					<main>
						<img src="{{ screenshot.src | relative_url }}" alt="{{ screenshot.alt }}"/>
					</main>
					<footer>{{ screenshot.caption }}</footer>
				</div>
			</figure>
		</a>
	</li>{% endif %}
{% endfor %}
</ol>

