---
layout: page
title: Screenshots
slug: screenshots
---
<div>
	<p>These are some the possibilities and LXQt themes available.
	<br/>LXQt-Panel, the desktop and appearance can be adjusted to your particular taste.
	Find out more in the <a href="https://github.com/lxqt/lxqt/wiki/Theming" title="Theming LXQt">LXQt wiki</a>.
	</p>
</div>

<ol>
{% for screenshot in site.screenshots %}{% if screenshot.promoted %}
	<li>
		<a href="{{ screenshot.url | relative_url }}" title="{{ screenshot.title }}">
			<figure>
				<header>
					<hgroup>
						<h1>{{ screenshot.title }}</h1>
					</hgroup>
				</header>
				<div class="wrapper">
					<main>
						<img src="{{ screenshot.src | relative_url }}" alt="{{ screenshot.alt }}"/>
					</main>
					<footer>{{ screenshot.caption }}</footer>
				</div>
			</figure>
		</a>
	</li>{% endif %}
{% endfor %}
</ol>
