<aside id="aside-downloads">
  <header>
    <hgroup>
      <h1>Downloads</h1>
    </hgroup>
  </header>
  <div class="wrapper">
    <main>
      <!--<ul>{% for download in site.downloads %}{% if download.promoted %}
        <li>
          <p><a href="{{ download.url | relative_url }}" title="{{ download.title }}"><span class="label">{{ download.label }}</span> <img src="{{ download.icon.src | relative_url }}" alt="{{ download.icon.alt }}"/></a></p>
        </li>{% endif %}{% endfor %}
      </ul>-->
      <ul>
        <li>
          <p><a href="https://github.com/lxqt"><span class="label">GitHub</span> <img src="{{ '/images/github-logo-22.svg' | relative_url }}" title="GitHub repository" alt="GitHub"></a></p>
        </li>
        <!--
        <li>
          <p><a href="https://downloads.lxqt.org/current.html"><span class="label">Source downloads</span> <img src="{{ '/images/source-22.png' | relative_url }}" title="Source downloads" alt="Source"></a></p>
        </li>
        -->
        <li>
          <p><a href="https://packages.altlinux.org/en/search?query=lxqt"><span class="label">ALT Linux</span> <img src="{{ '/images/altlinux-logo-22.svg' | relative_url }}" title="ALT packages" alt="ALT Linux"></a></p>
        </li>
        <li>
          <p><a href="https://www.archlinux.org/groups/x86_64/lxqt/"><span class="label">Arch Linux</span> <img src="{{ '/images/archlinux-logo-22.svg' | relative_url }}" title="Arch [community] packages" alt="Arch Linux"></a></p>
        </li>
        <!--<li>
            <p><a href="https://sourceforge.net/projects/lxqt-for-chakra/"><span class="label">Chakra</span> <img src="{{ '/images/chakra-logo-22.png' | relative_url }}" title="Chakra" alt="Chakra" /></a></p>
        </li>-->
        <li>
            <p><a href="https://artixlinux.org/"><span class="label">Artix</span> <img src="{{ '/images/artix-logo-22.svg' | relative_url }}" title="Artix" alt="Artix" /></a></p>
        </li>
        <li>
          <p><a href="https://packages.debian.org/sid/lxqt"><span class="label">Debian</span> <img src="{{ '/images/debian-logo-22.svg' | relative_url }}" title="Debian metapackage" alt="Debian"></a></p>
        </li>
        <li>
            <p><a href="https://pkginfo.devuan.org/cgi-bin/policy-query.html?c=package&q=lxqt"><span class="label">Devuan</span> <img src="{{ '/images/devuan-logo-22.svg' | relative_url }}" title="Devuan packages" alt="Devuan" /></a></p>
        </li>
        <li>
          <p><a href="https://spins.fedoraproject.org/en/lxqt/"><span class="label">Fedora</span> <img src="{{ '/images/fedora-logo-22.svg' | relative_url }}" title="Fedora spin" alt="Fedora"></a></p>
        </li>
        <li>
            <p><a href="https://wiki.freebsd.org/LXQt"><span class="label">FreeBSD</span> <img src="{{ '/images/FreeBSD-logo-22.svg' | relative_url }}" title="FreeBSD LXQt Wiki" alt="FreeBSD" /></a></p>
        </li>
        <li>
          <p><a href="https://packages.gentoo.org/package/lxqt-base/lxqt-meta"><span class="label">Gentoo</span> <img src="{{ '/images/gentoo-logo-22.svg' | relative_url }}" title="Gentoo overlay" alt="Gentoo"></a></p>
        </li>
        <li>
          <p><a href="https://madb.mageia.org/package/show/application/0/name/task-lxqt"><span class="label">Mageia</span> <img src="{{ '/images/mageia-logo-22.svg' | relative_url }}" title="Mageia metapackage" alt="Mageia"></a></p>
        </li>
        <li>
          <p><a href="https://wiki.manjaro.org/index.php/LXQt"><span class="label">Manjaro</span> <img src="{{ '/images/manjaro-logo-22.svg' | relative_url }}" title="Manjaro Wiki" alt="Manjaro"></a></p>
        </li>
        <li>
          <p><a href="https://abf.openmandriva.org/openmandriva/task-lxqt/build_lists"><span class="label">OpenMandriva</span> <img src="{{ '/images/openmandriva-logo-22.svg' | relative_url }}" title="OpenMandriva metapackage" alt="OpenMandriva Lx"></a></p>
        </li>
        <li>
          <p><a href="http://wiki.rosalab.ru/en/index.php/LXQt"><span class="label">ROSA Linux</span> <img src="{{ '/images/rosa-linux-22.svg' | relative_url }}" title="Information about LXQt in ROSA Linux" alt="ROSA Linux"></a></p>
        </li>
        <li>
          <p><a href="https://en.opensuse.org/LXQT"><span class="label">openSUSE</span> <img src="{{ '/images/opensuse-logo-22.svg' | relative_url }}" title="openSUSE packages" alt="openSUSE"></a></p>
        </li>
        <li>
          <p><a href="https://lubuntu.me/"><span class="label">Ubuntu</span> <img src="{{ '/images/ubuntu-logo-22.svg' | relative_url }}" title="The *official* Lubuntu website" alt="Ubuntu"></a></p>
        </li>
        <li>
            <p><a href="https://voidlinux.org/"><span class="label">Void</span> <img src="{{ '/images/void-logo-22.svg' | relative_url }}" title="Void Linux" alt="Void Linux" /></a></p>
        </li>
      </ul>
    </main>
    <footer></footer>
  </div>
</aside>
