<aside id="aside-downloads">
  <header>
    <hgroup>
      <h1>Downloads</h1>
    </hgroup>
  </header>
  <div class="wrapper">
    <main>
      <!--<ul>{% for download in site.downloads %}{% if download.promoted %}
        <li>
          <p><a href="{{ download.url }}" title="{{ download.title }}"><span class="label">{{ download.label }}</span> <img src="{{ download.icon.src }}" alt="{{ download.icon.alt }}"/></a></p>
        </li>{% endif %}{% endfor %}
      </ul>-->
      <ul>
        <li>
          <p><a href="https://github.com/lxde"><span class="label">GitHub</span> <img src="/images/github-logo-22.png" title="GitHub repository" alt="GitHub"></a></p>
        </li>
        <li>
          <p><a href="http://downloads.lxqt.org/current.html"><span class="label">Source downloads</span> <img src="/images/source-22.png" title="Source downloads"></a></p>
        </li>
        <li>
          <p><a href="http://packages.altlinux.org/en/search?query=lxqt"><span class="label">ALT Linux</span> <img src="/images/altlinux-logo-22.png" title="ALT packages" alt="ALT Linux"></a></p>
        </li>
        <li>
          <p><a href="https://www.archlinux.org/groups/x86_64/lxqt/"><span class="label">Arch Linux</span> <img src="/images/archlinux-logo-22.png" title="Arch [community] packages" alt="Arch Linux"></a></p>
        </li>
        <li>
            <p><a href="http://sourceforge.net/projects/lxqt-for-chakra/"><span class="label">Chakra</span> <img src="/images/chakra-logo-22.png" title="Chakra" alt="Chakra" /></a></p>
        </li>
        <li>
          <p><a href="https://packages.debian.org/sid/lxqt"><span class="label">Debian</span> <img src="/images/debian-logo-22.png" title="Debian metapackage" alt="Debian"></a></p>
        </li>
        <li>
          <p><a href="https://fedoraproject.org/wiki/Changes/LXQt"><span class="label">Fedora</span> <img src="/images/fedora-logo-22.png" title="Fedora packages" alt="Fedora"></a></p>
        </li>
        <li>
          <p><a href="https://packages.gentoo.org/package/lxqt-base/lxqt-meta"><span class="label">Gentoo</span> <img src="/images/gentoo-logo-22.png" title="Gentoo overlay" alt="Gentoo"></a></p>
        </li>
        <li>
          <p><a href="http://mageia.madb.org/package/show/application/0/name/task-lxqt"><span class="label">Mageia</span> <img src="/images/mageia-logo-22.png" title="Mageia Metapackage" alt="Mageia"></a></p>
        </li>
        <li>
          <p><a href="https://sourceforge.net/projects/manjarolinux/files/community/LXQT/"><span class="label">Manjaro</span> <img src="/images/manjaro-logo-22.png" title="Manjaro ISOs" alt="Manjaro"></a></p>
        </li>
        <li>
          <p><a href="https://abf.io/openmandriva/task-lxqt"><span class="label">OpenMandriva</span> <img src="/images/openmandriva-logo-22.png" title="OpenMandriva packages" alt="OpenMandriva Lx"></a></p>
        </li>
        <li>
          <p><a href="http://wiki.rosalab.ru/en/index.php/LXQt"><span class="label">ROSA Linux</span> <img src="/images/rosa-linux-22.png" title="information about LXQt in ROSA Linux" alt="ROSA Linux"></a></p>
        </li>
        <li>
          <p><a href="https://en.opensuse.org/LXQT"><span class="label">openSUSE</span> <img src="/images/opensuse-logo-22.png" title="openSUSE packages" alt="openSUSE"></a></p>
        </li>
        <li>
          <p><a href="http://lubuntu.me/"><span class="label">Ubuntu</span> <img src="/images/ubuntu-logo-22.png" title="The *official* Lubuntu website" alt="Ubuntu"></a></p>
        </li>
      </ul>
    </main>
    <footer></footer>
  </div>
</aside>
