					<aside id="aside-links">
						<header>
							<hgroup>
								<h1>Links</h1>
							</hgroup>
						</header>
						<div class="wrapper">
							<main>
								<dl>
									<dt>
										<p>Mailing List</p>
									</dt>
									<dd>
										<address class="email" itemprop="contactpoint" itemscope itemtype="http://schema.org/ContactPoint">
											<p><a href="https://lists.sourceforge.net/lists/listinfo/lxde-list" itemprop="email">lxde-list@lists.sourceforge.net</a></p>
										</address>
									</dd>
									<dt>
										<p>Bug Tracker</p>
									</dt>
									<dd>
										<p><a href="https://github.com/LXDE/lxqt/issues">github.com/LXDE/lxqt</a></p>
									</dd>
									<dt>
										<p>Wiki</p>
									</dt>
									<dd>
										<p><a href="https://github.com/lxde/lxqt/wiki">github.com/LXDE/lxqt</a></p>
									</dd>
									<dt>
										<p>IRC</p>
									</dt>
									<dd>
										<p>#LXDE on <a href="https://www.freenode.net/">Freenode.net</a></p>
									</dd>
									<dd>
										<p>#LXDE on <a href="http://www.oftc.net/">OFTC.net</a></p>
									</dd>
									<dt>
										<p>LXDE Blog</p>
									</dt>
									<dd>
										<p><a href="http://blog.lxde.org">blog.lxde.org</a></p>
									</dd>
								</dl>
							</main>
							<footer></footer>
						</div>
					</aside>
