<aside id="aside-links">
    <header>
        <hgroup>
            <h1>Links</h1>
        </hgroup>
    </header>
    <div class="wrapper">
        <main>
            <dl>
                <dt>
                    <p><a href="https://github.com/lxqt/lxqt/discussions">Discussions</a></p>
                </dt>
                <dd>
                    <p>A friendly place to meet the community</p>
                </dd>
                <!--
                <dt>
                    <p><a href="https://blog.lxqt.org">Blog</a></p>
                </dt>
                <dd>
                    <p>BlogBlogBlogBlog</p>
                </dd>
                -->
                <dt>
                    <p><a href="https://github.com/lxqt/lxqt/issues">Bug Tracker</a></p>
                </dt>
                <dd>
                    <p>Report and help fix errors</p>
                </dd>
                <!--
                <dt>
                    <p><a href="https://forum.lxqt.org">forum.lxqt.org</a></p>
                </dt>
                <dd>
                    <p>ForumForumForumForum</p>
                </dd>
                -->
                <dt>
                    <p><a href="https://github.com/lxqt/lxqt/wiki">Wiki</a></p>
                </dt>
                <dd>
                    <p>Learn from and help with documentation</p>
                </dd>
                <dt>
                    <p>Instant messaging</p>
                </dt>
                <dd>
                   <ul>
                      <li>Matrix — <a href="https://matrix.to/#/#lxqt:matrix.org">#lxqt:matrix.org</a></li>
                      <li>Telegram — <a href="https://t.me/lxqtofficial">LXQt Project</a></li>
                      <li>IRC — <a href="http://www.oftc.net/">#lxqt on OFTC</a><br/>
                      <small>(bridged among them)</small><br/><br/></li>
                      <li>#Dev IRC — <a href="http://www.oftc.net/">lxqt-dev on OFTC</a></li>
                   </ul>
                </dd>
                <dt>
                    <p><a href="https://lxqt-project.org/feed.xml">RSS Feed</a></p>
                </dt>
                <dd>
                    <p>Get news as they arrive</p>
                </dd>
            </dl>
        </main>
        <footer></footer>
    </div>
</aside>
