<aside id="aside-links">
    <header>
        <hgroup>
            <h1>Links</h1>
        </hgroup>
    </header>
    <div class="wrapper">
        <main>
            <dl>
                <dt>
                    <p>Discussions</p>
                </dt>
                <dd>
                    <p><a href="https://github.com/lxqt/lxqt/discussions">github.com/lxqt/lxqt/discussions</a></p>
                </dd>
                <dt>
                    <p>Bug Tracker</p>
                </dt>
                <dd>
                    <p><a href="https://github.com/lxqt/lxqt/issues">github.com/lxqt/lxqt/issues</a></p>
                </dd>
                <dt>
                    <p>Wiki</p>
                </dt>
                <dd>
                    <p><a href="https://lxqt-project.org/wiki/">lxqt-project.org/wiki/</a></p>
                </dd>
                <dt>
                    <p>Instant messaging</p>
                </dt>
                <dd>
                   <ul>
                      <li>Matrix: <a href="https://matrix.to/#/#lxqt:matrix.org">#lxqt:matrix.org</a></li>
                      <li>Telegram: <a href="https://t.me/lxqtofficial">LXQt Project</a></li>
                      <li>IRC: #lxqt on <a href="http://www.oftc.net/">OFTC</a><br/>
                      <small>(bridged among them)</small><br/><br/></li>
                      <li>#lxqt-dev on <a href="http://www.oftc.net/">OFTC</a></li>
                   </ul>
                </dd>
                 <dt>
                    <p>Mastodon</p>
                </dt>
                <dd>
                    <p><a rel="me" href="https://mastodon.social/@LXQt">@LXQt@mastodon.social</a></p>
                </dd>
                </dt>
                <dt>
                    <p>Feed RSS</p>
                </dt>
                <dd>
                    <p><a href="{{ '/feed.xml' | absolute_url }}">{{ '/feed.xml' | absolute_url | replace_first: 'https://','' | replace_first: 'http://','' }}</a></p>
                </dd>
            </dl>
        </main>
        <footer></footer>
    </div>
</aside>
