					<aside id="aside-screenshots">
						<header>
							<hgroup>
								<h1>Screenshots</h1>
							</hgroup>
						</header>
						<div class="wrapper">
							<main>
								<ol>{% for screenshot in site.screenshots %}{% if screenshot.promoted %}
									<li>
										<a href="{{ screenshot.url }}" title="{{ screenshot.title }}">
											<figure>
												<header>
													<hgroup>
														<h1>{{ screenshot.title }}</h1>
													</hgroup>
												</header>
												<div class="wrapper">
													<main>
														<img src="{{ screenshot.src }}" alt="{{ screenshot.alt }}"/>
													</main>
													<footer>{{ screenshot.caption }}</footer>
												</div>
											</figure>
										</a>
									</li>{% endif %}{% endfor %}
								</ol>
							</main>
							<footer></footer>
						</div>
					</aside>