@charset "UTF-8";

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url("/static/fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), local("OpenSans-Regular"), url("/static/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("/static/fonts/OpenSans-Semibold.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/static/fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("/static/fonts/OpenSans-Extrabold.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/static/fonts/OpenSans-LightItalic.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/static/fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	src: local("Open Sans Semibold Italic"), local("OpenSans-Semibold-Italic"), url(/static/fonts/OpenSans-SemiboldItalic.woff) format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src: local("Open Sans Bold Italic"), local("OpenSans-Bold-Italic"), url("/static/fonts/OpenSans-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight:800;
	src:local("Open Sans Extrabold Italic"), local("OpenSans-Extrabold-Italic"), url("/static/fonts/OpenSans-ExtraboldItalic.woff") format("woff");
}

@font-face {
	font-family:"Open Sans Condensed";
	font-style: normal;
	font-weight: 300;
	font-stretch: condensed;
	src: local("Open Sans Condensed Light"), local("OpenSans-CondLight"), url("/static/fonts/OpenSans-CondLight.woff") format("woff");
}

@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	font-stretch: condensed;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondBold"), url("/static/fonts/OpenSans-CondBold.woff") format("woff");
}

@font-face {
	font-family: "Open Sans Condensed";
	font-style: italic;
	font-weight: 300;
	font-stretch: condensed;
	src: local("Open Sans Condensed Light Italic"), local("OpenSans-CondLightItalic"), url("/static/fonts/OpenSans-CondLightItalic.woff") format("woff");
}

@-webkit-viewport {
	width: device-width;
	height: device-height;
	user-zoom: user;
	zoom: 1;
	min-zoom: 1;
	max-zoom: auto;
}

@-moz-viewport {
	width: device-width;
	height: device-height;
	user-zoom: user;
	zoom: 1;
	min-zoom: 1;
	max-zoom: auto;
}

@-ms-viewport {
	width: device-width;
	height: device-height;
	user-zoom: user;
	zoom: 1;
	min-zoom: 1;
	max-zoom: auto;
}

@viewport {
	width: device-width;
	height: device-height;
	user-zoom: user;
	zoom: 1;
	min-zoom: 1;
	max-zoom: auto;
}

:root,
html {
	display: block;
	width: auto;
	min-width: 0;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	font: normal normal 300 1.07em/1.2 "Open Sans", Arial, Sans-Serif;
	direction: ltr;
	letter-spacing: normal;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: normal;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	color: #FFF;
	background-color: #1D2F37;
	background-image: radial-gradient(50% 50% at 50% 50%, #1D2F37 0, #0E2028 100%);
	background-size: 100% 100%;
	background-position: top left;
	background-attachment: scroll;
	-ms-overflow-style: scrollbar;
}

body,
article,
section,
aside,
nav,
figure {
	display: block;
	position: relative;
	margin: 0.75rem 0;
	padding: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow-y: auto;
}

#content article,
#content section,
#content aside {
	counter-increment: section;
}

#content figure {
	counter-increment: figure;
}

div,
dl,
ol,
ul,
menu,
dt,
dd,
li,
menuitem,
header,
main,
footer,
hgroup,
figcaption,
a,
blockquote,
pre {
	display: block;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-style: inherit;
}

#intro,
#wrapper {
	overflow-y: auto;
}

div.wrapper {
	margin-left: 0.75rem;
}

#content div.wrapper {
	counter-reset: section figure;
}

dl,
ol,
ul {
	padding-left: 0.75rem;
}

dl {
	margin-bottom: 1.5em;
	list-style-type: none;
}

div.p > dl,
div.p > ol,
div.p > ul {
	margin-left: 0.75rem;
}

ul,
ol,
menu {
	list-style-type: none;
}

ol {
	counter-reset: ol;
}

div.group {
	overflow: hidden;
	list-style-type: none;
}

dt,
dd,
li,
menuitem {
	display: list-item;
	text-indent: 0;
}

menuitem {
	cursor: pointer;
}

menuitem[label]::after {
	content: attr(label);
}

dd {
	margin-left: 1.5rem;
}

ol > li {
	counter-increment: ol;
}

ol > li > p {
	padding-left: 0.6975rem;
	text-indent: -0.6975rem;
}

ol > li li > p {
	padding-left: 1.49963rem;
	text-indent: -1.49963rem;
}

ol > li li li > p {
	padding-left: 2.30175rem;
	text-indent: -2.30175rem;
}

ol > li > p::before {
	content: counters(ol,".") ".";
	margin-left: -0.75em;
	margin-right: 0.6em;
}

ol.alpha > li > p::before {
	content: counter(ol,upper-alpha) ".";
}

ol.alpha.lower > li > p::before {
	content: counter(ol,lower-alpha) ".";
}

ol.roman > li > p::before {
	content: counter(ol,upper-alpha) ".";
}

ol.roman.lower > li > p::before {
	content: counter(ol,lower-alpha) ".";
}

ul > li > p {
	padding-left: 0.6975rem;
	text-indent: -0.6975rem;
}

ul > li > p:before {
	content: "●";
	margin-left: -0.75em;
	margin-right: 0.8025em;
}

a[href],
button {
	border-color: transparent;
	line-height: inherit;
	vertical-align: inherit;
	text-decoration: none;
	color: #0192D3;
	background-color: transparent;
	outline-width: 0;
	cursor: pointer;
}

a[href]:not(:disabled):link,
button:not(:disabled):link {
	color: #0192D3;
}

a[href]:not(:disabled):visited,
button:not(:disabled):visited {
	color: #0192D3;
}

a[href]:not(:disabled):focus,
a[href]:not(:disabled):hover,
a[href]:not(:disabled):active,
a[href]:not(:disabled):focus:hover,
button:not(:disabled):focus,
button:not(:disabled):hover,
button:not(:disabled):active,
button:not(:disabled):focus:hover {
	color: #0192D3;
	background-color: #404040;
	background-color: rgba(64,64,64,0.8);
	outline: 1px solid #272727;
	outline: 1px solid rgba(0,0,0,0.1);
}

a[href]:not(:disabled):active,
a[href]:not(:disabled):focus:hover,
button:not(:disabled):active,
button:not(:disabled):focus:hover {
	color: #0192D3;
}

blockquote::before,
blockquote::after {
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	width: auto;
	margin: 0;
	padding: 0;
	z-index: 1;
	text-align: center;
	font-size: 3em;
	font-family: 'Times New Roman', Serif;
	font-weight: bold;
}

blockquote::after {
	top: auto;
	left: auto;
	bottom: -0.07em;
	right: -0.25em;
}

pre {
	font-family: Consolas,Inconsolate,"DeJa Vu Sans Mono",Monospace;
	white-space: nowrap;
}

table {
	display: block;
	margin: 0.75rem;
	padding: 0;
}

table {
	display: table;
	margin: auto;
	table-layout: fixed;
	caption-side: bottom;
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,0.2);
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: hide;
}

colgroup {
	display: table-column-group;
}

col {
	display: table-column;
}

thead {
	display: table-header-group;
}

tbody {
	display: table-row-group;
}

tfoot {
	display: table-footer-group;
}

tr {
	display: table-row;
}

th,
td {
	display: table-cell;
	padding: 0.25em;
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,0.2);
	text-align: left;
	vertical-align: text-top;
}

th {
	font-style: inherit;
	font-weight: bold;
	white-space: nowrap;
}

td.number {
	text-align: right;
}

caption {
	display: table-caption;
	padding: 0.57692rem 0.75rem;
	border: 1px solid #fff;
	vertical-align: text-top;
	text-align: left;
}

caption:empty {
	display: none;
}

img {
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
div.p,
p,
address {
	display: block;
	margin: 0 0 1.5em 0;
	padding: 0;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

th > p:last-child,
td > p:last-child,
div.p > p,
div.p > address,
div.p > ul > li > p,
div.p > ul > li > address,
div.p > ol > li > p,
div.p > ol > li > address,
dt > p,dd > p,
dd > address,
dd > address > p {
	margin-bottom: 0;
}

dt > p {
	margin-top: 1.5em;
}

dl:first-child > dt:first-child > p {
	margin-top: 0;
}

dt + dd > dl > dt:first-child > p,
dt + dd > ol > li:first-child > p,
dt + dd > ul > li:first-child > p,
dt + dd > dl:first-child > dt:first-child > p,
div.p dt:first-child > p div.p > ol > li:first-child > p,
div.p > dl > dt:first-child > p,
div.p > ul > li:first-child > p,
div.p > address:first-child {
	margin-top: 0.75em;
}

div.p > :first-child,
div.p > ol:first-child > li > p,
div.p > dl:first-child > dt > p,
div.p > ul:first-child > li > p,
div.p > address:first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1:last-child:not(:empty),
h2:last-child:not(:empty),
h3:last-child:not(:empty),
h4:last-child:not(:empty),
h5:last-child:not(:empty),
h6:last-child:not(:empty) {
	margin-bottom: 0.75rem;
}

h1 {
	font-size: 2.61803em;
}

header header h1,
div.wrapper h1,
h2 {
	font-size: 2.29443em;
}

header header header h1,
div.wrapper header header h1,
div.wrapper div.wrapper h1,
header header h2,
div.wrapper h2,
h3 {
	font-size: 1.97082em;
}

header header header header h1,
div.wrapper header header header h1,
div.wrapper div.wrapper header header h1,
div.wrapper div.wrapper div.wrapper h1,
header header header h2,
div.wrapper header header h2,
div.wrapper div.wrapper h2,
header header h3,
div.wrapper h3,
h4 {
	font-size: 1.64721em;
}

header header header header header h1,
div.wrapper header header header header h1,
div.wrapper div.wrapper header header header h1,
div.wrapper div.wrapper div.wrapper header header h1,
div.wrapper div.wrapper div.wrapper div.wrapper h1,
header header header header h2,
div.wrapper header header header h2,
div.wrapper div.wrapper header header h2,
div.wrapper div.wrapper div.wrapper h2,
header header header h3,
div.wrapper header header h3,
div.wrapper div.wrapper h3,
header header h4,
div.wrapper h4,
h5 {
	font-size: 1.32361em;
}

header header header header header header h1,
div.wrapper header header header header header h1,
div.wrapper div.wrapper header header header header h1,
div.wrapper div.wrapper div.wrapper header header header h1,
div.wrapper div.wrapper div.wrapper div.wrapper header header h1,
div.wrapper div.wrapper div.wrapper div.wrapper div.wrapper h1,
header header header header header h2,
div.wrapper header header header header h2,
div.wrapper div.wrapper header header header h2,
div.wrapper div.wrapper div.wrapper header header h2,
div.wrapper div.wrapper div.wrapper div.wrapper h2,
header header header header h3,
div.wrapper header header header h3,
div.wrapper div.wrapper header header h3,
div.wrapper div.wrapper div.wrapper h3,
header header header h4,
div.wrapper header header h4,
div.wrapper div.wrapper h4,
header header h5,
div.wrapper h5,
h6 {
	font-size: 1em;
	font-weight: bold;
}

article.quote > div.wrapper > footer > p.cite::before,
figure.quote > div.wrapper > footer > p.cite::before {
	content: '— ';
}

article.code pre > p > code,
figure.code pre > p > code {
	overflow: auto;
}

p img,
li img,
dt img,
dd img,
br,
wbr,
input,
button,
select,
textarea,
div.p > table {
	display: inline-block;
}

br {
	white-space: pre-line;
}

br::before,
br::after {
	content: "";
	content: none;
	display: none;
}

wbr {
	padding-left: 0.75rem;
}

div.p > table {
	display: inline-table;
	vertical-align: text-top;
}

input,
button,
select,
textarea {
	width: auto;
	max-width: 100%;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

button {
	margin: 0;
	padding: 0.57692rem 0.75rem;
	border-width: 0;
}

textarea {
	vertical-align: top;
}

form :not(a):focus {
	outline: transparent dotted 0;
}

form :not(a):active,
form :not(a):focus:hover {
	outline-width: 0;
}

span,
i,
dfn,
var,
b,
em,
strong,
abbr,
acronym,
code,
kbd,
samp,
q,
sup,
sub,
cite,
u,
s,
small,
mark,
time,
ins,
del,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
li a,
dt a,
dd a,
address a {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color: inherit;
	background: none;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
	direction: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-align: inherit;
	text-decoration: inherit;
	text-indent: 0;
	text-transform: inherit;
	vertical-align: inherit;
	white-space: inherit;
	word-spacing: inherit;
}

h1:lang(en-US),
h2:lang(en-US),
h3:lang(en-US),
h4:lang(en-US),
h5:lang(en-US),
h6:lang(en-US) {
	text-transform: capitalize;
}

article article h1 > span::before,
article section h1 > span::before,
article aside h1 > span::before {
	content: counters(section,".") ". ";
}

article figure h1 > span::before {
	content: counters(figure,".") ".";
}

small {
	font-size: 0.818em;
}

footer > *,
footer > div.group,
footer > div.p,
footer > p,
figcaption > div.group,
figcaption > div.p,
figcaption > p {
	font-size: 0.818em;
}

footer small {
	font-size: inherit;
}

em,
em.alt,
i.proper-noun.title,
i.foreign,
i.thought,
dt,
dfn,
var,
var.constant,
ins,
del {
	font-style: italic;
}

b,
strong,
dt,
.cite.publication .volume var.global,
var.constant {
	font-weight: bold;
}

dd > dl > dt {
	font-weight: inherit;
}

strong strong,
strong.global,
strong.promote {
	font-weight: bolder;
}

strong.promote {
	font-size: 1.273em;
}

sup,
sub {
	font-size: 0.636em;
	line-height: 0;
}

sup.symbol.trademark:not(.registered) {
	font-size: inherit;
	vertical-align: inherit;
	line-height: inherit;
}

sup.symbol.trademark.registered {
	padding: 0 0.1em;
}

sup.symbol.medical.monitored {
	color: #000;
}

sup,
sup.ref,
sup.nb,
sup.power,
sup.charge,
sup.isotope,
sup.nuclide {
	vertical-align: super;
}

sup.ordinal,
sup.fraction,
sup.symbol {
	vertical-align: text-top;
	line-height: inherit;
}

sub,
sub.atom,
sub.set,
sub.radix,
sub.nuclide {
	vertical-align: sub;
}

sub.fraction {
	vertical-align: text-bottom;
}

span.splitscript {
	display: inline-block;
	vertical-align: inherit;
}

code,
samp,
kbd,
var,
var.constant {
	font-family: monospace;
	white-space: pre-wrap;
}

var.constant {
	text-transform: lowercase;
}

h1:lang(en-US),
h2:lang(en-US),
h3:lang(en-US),
h4:lang(en-US),
h5:lang(en-US),
h6:lang(en-US),
i.proper-noun:lang(en-US),
i.proper-noun.title,
var.global {
	text-transform: capitalize;
}

var.constant,
abbr.initial,
abbr.acronym,
abbr.initial.acronym {
	text-transform: uppercase;
}

u {
	text-decoration: underline;
}

u.overline {
	text-decoration: overline;
}

s {
	text-decoration: line-through;
}

mark {
	text-decoration: blink;
	background-color: #ef0;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted red;
	border-bottom-color: inherit;
}

[id]:target {
	outline: transparent dotted 0;
}

::-webkit-selection {
	color: #333;
	background-color: #0192D3;
}

::-moz-selection {
	color: #333;
	background-color: #0192D3;
}

::-ms-selection {
	color: #333;
	background-color: #0192D3;
}

::selection {
	color: #333;
	background-color: #0192D3;
}

:disabled {
	opacity: 0.3;
}

[data-state="inert"],
dt[data-state="inert"] + dd {
	visibility: hidden;
	opacity: 0;
}

[data-fallback~="nocss"],
[data-fallback~="noimg"],
[data-fallback~="nojs"],
[data-fallback~="ie"],
[data-fallback~="ie7"],
[data-fallback~="ie8"],
[data-fallback~="ie9"],
[data-empty] {
	display: none;
}

[data-uc] {
	text-decoration: line-through;
}

/* Web */

:root,
html,
body {
	min-width: 1.5rem;
}

#wrapper,
#content {
	width: 100%;
	min-width: 1.5rem;
	max-width: 42.5rem;
	margin: auto;
	overflow: hidden;
}

#wrapper > div.divider,
#outro,
#content > article,
#content > div.divider,
#content > footer {
	width: 100%;
	min-width: 1.5rem;
	max-width: 42.5rem;
	margin: auto;
	padding: 0.75rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

header:empty,
footer:empty,
main:empty,
div.divider:empty {
	display: none;
}

div.divider:empty + * {
	margin-top: 0;
}

#heading::before {
	-display: none;
}

#heading::before {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0.375rem;
	z-index: 100;
	font-size: 0.75rem;
	color: #000;
	background-color: #FFF;
	opacity: 0.75;
}

.paged .page[id] {
	display: none;
	visibility: hidden;
}

.paged .page[id][data-context="0"],
.paged .page[id][data-context="1"],
.paged .page[id][data-context="1"] .page[id]:first-child {
	display: block;
	visibility: visible;
}

nav > header #content > header > hgroup > h1,
#relimp > aside > header > hgroup > h1,
#relunimp > aside > hgroup > h1 {
	display: none;
}

nav > div.wrapper {
	margin-left: 0;
}

h1 > span::before,
ol.toc li::before,
ul.menu li::before {
	content: normal;
	display: none;
}

div.group.notification {
	display: none;
	position: relative;
	background-color: transparent;
}

div.group.notification[data-state="active"] {
	display: block;
}

div.group.notification > p {
	margin-bottom: 0.75em;
}

div.group.notification > p > strong {
	font-size: 1.1em;
}

div.group.notification > p > button.dismiss {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0.75rem;
	border-width: 0;
	color: inherit;
	background-color: transparent;
}

div.group.notification > p > button.dismiss::before {
	content: '×';
	display: block;
	font-size: 2em;
}

div.group.notification > p > button.dismiss > span {
	display: none;
}

menu[type="popup"] {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
}

menu[type="popup"][data-state="active"] {
	visibility: visible;
	opacity: 1;
}

.debug {
	display: none !important;
}

/* LXQT */

#intro {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	overflow: shown;

	box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
}
#intro > hgroup {
	float: left;
	margin-right: 1em;
	padding: 0.5em;
	border-right: 0.25em solid #FFF;

	background-color: #222;
	opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
	text-transform: capitalize;
	color: #0192D3;
}

#article-placeholder > header > hgroup,
#nav > header > hgroup {
	display: none;
}

#intro > #heading > h1 {
	margin: 0;
}

#intro > #heading > h1 > a,
#intro > #heading > h1 > a > img {
	display: block;
	width: auto;
	max-height: 3em;
	margin: auto;
	font-size: 1rem;
}

#intro > #heading > h1 > a > span[itemprop="name"] {
	display: none;
}

#intro > p.strapline {
	height: 3em;
	margin: 0;
	padding: 0.5em;

	color: #FFF;
	background-color: #0280B9;
}
#intro > p.strapline > strong {
	display: table;
	height: 3em;
	font-weight: 200;
}
#intro > p.strapline > strong > span {
	display: table-cell;
	vertical-align: middle;
	text-shadow: rgb(68, 68, 68) 1px 1px 5px;
}

#relimp:empty + article {
	margin-top: 0;
}

#wrapper {
	position: relative;
	max-width: none;
	margin-top: 4em;
	overflow: hidden;
}

div.wrapper {
	margin: 0;
}

#outro {
	max-width: none;
	padding-top: 1.5rem;
	border-top: 1px solid #333;

	background-color: #222;
}

#outro > section {
	border-top: 1px solid #0192D3;
	margin: 0;
	padding-top: 0.75rem;
}

#outro > section:first-child {
	border-top-width: 0;
	padding-top: 0;
}

#outro > section > header,
#outro > section > div.wrapper {
	max-width: none;
}

#outro > section > div.wrapper > main > ul,
#outro > section > div.wrapper > main > ol,
#outro > section > div.wrapper > main > dl {
	padding-left: 0;
}

#outro > section > div.wrapper > main > dl > dd {
	margin-left: 0;
}

#article-comingsoon > header > hgroup,
#figure-screenshots > header > hgroup,
#figure-screenshots > header > nav > header > hgroup,
#outro > section > header > hgroup {
	display: none;
}

#figure-screenshots > div.wrapper > main > ol {
	position: relative;
	padding-top: 62.53561253561254%;
	padding-left: 0;
	border-radius: 1em;
	overflow: hidden;
	background-color: #111;
}

#figure-screenshots > div.wrapper > main > ol > li {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 0.25em;
	z-index: -1;
}

@-webkit-keyframes slideshow {
	0% {
		z-index: 3;
		-webkit-transform: translateX(100%);
	}
	3% { /* 1s */
		z-index: 4;
		-webkit-transform: translateX(0);
	}
	33.33% { /* 10s */
		z-index: 3;
		-webkit-transform: translateX(0);
	}
	36.33% { /* 11s */
		z-index: -1;
		-webkit-transform: translateX(-100%);
	}
	100% {
		z-index: -1;
		-webkit-transform: translateX(100%);
	}
}
@-moz-keyframes slideshow {
	0% {
		z-index: 3;
		transform: translateX(100%);
	}
	3% { /* 1s */
		z-index: 4;
		transform: translateX(0);
	}
	33.33% { /* 10s */
		z-index: 3;
		transform: translateX(0);
	}
	36.33% { /* 11s */
		z-index: -1;
		transform: translateX(-100%);
	}
	100% {
		z-index: -1;
		transform: translateX(100%);
	}
}
@-ms-keyframes slideshow {
	0% {
		z-index: 3;
		transform: translateX(100%);
	}
	3%	/* 1s */
	{
		z-index: 4;
		transform: translateX(0);
	}
	33.33%	/* 10s */
	{
		z-index: 3;
		transform: translateX(0);
	}
	36.33%	/* 11s */
	{
		z-index: -1;
		transform: translateX(-100%);
	}
	100%
	{
		z-index: -1;
		transform: translateX(100%);
	}
}
@keyframes slideshow {
	0% {
		z-index: 3;
		transform: translateX(100%);
	}
	3% { /* 1s */

		z-index: 4;
		transform: translateX(0);
	}
	33.33% { /* 10s */
		z-index: 3;
		transform: translateX(0);
	}
	36.33% { /* 11s */
		z-index: -1;
		transform: translateX(-100%);
	}
	100% {
		z-index: -1;
		transform: translateX(100%);
	}
}
#figure-screenshots > div.wrapper > main > ol > li {
	-webkit-animation: slideshow 30s linear -10s infinite normal both;
}
#figure-screenshots > div.wrapper > main > ol > li:first-child {
	-webkit-animation-delay: 0s;
}
#figure-screenshots > div.wrapper > main > ol > li:last-child {
	-webkit-animation-delay: -20s;
}
#figure-screenshots > div.wrapper > main > ol > li > p > a {
	display: block;
}
#figure-screenshots > div.wrapper > main > ol > li > p > a:hover::before {
	content: "+";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 1.25em;
	height: 1.25em;
	margin: auto;
	border-radius: 0.25em;
	z-index: 5;
	font-size: 4em;
	font-weight: 800;
	line-height: 1.25em;
	text-align: center;
	color: #FFF;
	background-color: #111;
	opacity: 0.5;
}

#figure-screenshots > div.wrapper > main > ol > li > p,
#outro #section-sources > div.wrapper > main > ul > li > p {
	padding-left: 0;
	text-indent: 0;
}
#figure-screenshots > div.wrapper > main > ol > li > p::before,
#outro #section-sources > div.wrapper > main > ul > li > p::before {
	display: none;
	content: none;
}

#outro #section-sources > div.wrapper > main > ul > li > p > a {
	font-size: 1.32361em;
	font-weight: 400;
	color: #FFF;
}

#outro #section-sources > div.wrapper > main > ul > li > p > a > img {
	max-height: 1.2em;
	vertical-align: top;
}

#section-legal p.license {
	font-size: 0.8em;
	line-height: 1.5em;
}


a[href]:not(:disabled),
a[href]:not(:disabled):visited,
a[href]:not(:disabled):focus,
a[href]:not(:disabled):hover,
a[href]:not(:disabled):focus:hover,
a[href]:not(:disabled):active {
	text-decoration: none;
	background-color: transparent;
	outline-width: 0;
}

a[href]:not(:disabled):focus,
a[href]:not(:disabled):hover {
	text-decoration: underline;
}

@media all and (orientation: portrait) {
    html
    {
        background-position: left top;
    }
}

@media all and (min-width: 2.675rem) {
    #heading::before
    {
        content: "Columns: 0 (∞)";
    }
}

@media all and (min-width: 25.145rem) {
    body:not([data-columns="0"]) #heading::before
    {
        content: "Columns: 0.5 (½)";
    }

    body:not([data-columns="0"]) :root,
    body:not([data-columns="0"]) html,
    body:not([data-columns="0"]) body,
    body:not([data-columns="0"]) #wrapper,
    body:not([data-columns="0"]) #content,
    body:not([data-columns="0"]) #wrapper > div.divider,
    body:not([data-columns="0"]) #outro,
    body:not([data-columns="0"]) #content > article,
    body:not([data-columns="0"]) #content > div.divider,
    body:not([data-columns="0"]) #content > footer
    {
        min-width: 22.5rem;
    }
}

@media all and (min-width: 46.545rem) {
    body:not([data-columns="0"]):not([data-columns="0.5"]) #heading::before
    {
        content: "Columns: 1 (1)";
    }
}

@media all and (min-width: 70.62rem) {
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #wrapper
    {
        width: 65rem;
        max-width: 65rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #heading::before
    {
        content: "Columns: 1.5 (1 + ½)";
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #outro,
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #wrapper > div.divider
    {
        float: right;
        width: 22.5rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #content
    {
        float: left;
        max-width: 42.5rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #content > article
    {
        margin: 0;
    }
}

@media all and (min-width: 86rem) {
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]) #wrapper
    {
        width: 85rem;
        max-width: 85rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]) #heading::before
    {
        content: "Columns: 2 (1 + 1)";
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]) #outro,
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]) #wrapper > div.divider
    {
        width: 42.5rem;
    }
}

@media all and (min-width: 94.695rem) {
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #wrapper
    {
        width: 87.5rem;
        max-width: 87.5rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #heading::before
    {
        content: "Columns: 2 +  ((½ + 1) + ½)";
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #outro,
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #wrapper > div.divider
    {
        width: 22.5rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content
    {
        width: 65rem;
        max-width: 65rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content > footer,body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content > div.divider
    {
        float: left;
        width: 22.5rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content > article
    {
        float: right;
        width: 42.5rem;
    }
}

@media all and (min-width: 110rem) {
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #wrapper
    {
        width: 109rem;
        max-width: 109rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #heading::before
    {
        content: "Columns: 2.5 ((½ + 1) + 1)";
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #outro,
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #wrapper > div.divider
    {
        width: 42.5rem;
    }
}

@media all and (min-width: 129rem) {
    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #wrapper
    {
        width: 129rem;
        max-width: 129rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #heading::before
    {
        content: "Columns: 3 ((1 + 1) + 1)";
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content
    {
        width: 85.75rem;
    }

    body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content > footer,body:not([data-columns="0"]):not([data-columns="0.5"])[data-columns]:not([data-columns="1"]):not([data-columns="1.5"]):not([data-columns="2"]) #content > div.divider
    {
        width: 42.5rem;
    }
}

@media all and (min-width: 46.545rem) {
    body:not([data-columns="0.5"]) #nav
    {
        background-color: transparent;
    }

    body:not([data-columns="0.5"]) #nav > header
    {
        display: none;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper
    {
        max-height: none;
        border-bottom-width: 0;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main
    {
        padding: 0;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol
    {
        width: 42.5rem;
        max-width: 42.5rem;
        margin: 0 auto;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li
    {
        display: inline-block;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li > p
    {
        height: 1.875rem;
        margin: 0 -0.9375rem;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li > p::before,
    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li > p::after
    {
        display: inline-block;
        margin: 0;
        border: 0.9375rem solid transparent;
        border-bottom-color: #FFF;
        border-right-color: #FFF;
        vertical-align: middle;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li > p::after
    {
        content: "";
        border-color: transparent;
        border-top-color: #fff;
        border-left-color: #fff;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li > p > a
    {
        display: inline-block;
        height: 100%;
        padding: 0.355rem;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-416 > p::before
    {
        border-bottom-color: #0192D3;
        border-right-color: #0192D3;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-416 > p::after
    {
        border-top-color: #0192D3;
        border-left-color: #0192D3;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-58 > p::before
    {
        border-bottom-color: #71dbd4;
        border-right-color: #71dbd4;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-58 > p::after
    {
        border-top-color: #71dbd4;
        border-left-color: #71dbd4;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-59 > p::before
    {
        border-bottom-color: #a4d65e;
        border-right-color: #a4d65e;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-59 > p::after
    {
        border-top-color: #a4d65e;
        border-left-color: #a4d65e;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-56 > p::before
    {
        border-bottom-color: #ff9e1b;
        border-right-color: #ff9e1b;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-56 > p::after
    {
        border-top-color: #ff9e1b;
        border-left-color: #ff9e1b;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-57 > p::before
    {
        border-bottom-color: #d5cb9f;
        border-right-color: #d5cb9f;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-57 > p::after
    {
        border-top-color: #d5cb9f;
        border-left-color: #d5cb9f;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-60 > p::before
    {
        border-bottom-color: #782223;
        border-right-color: #782223;
    }

    body:not([data-columns="0.5"]) #nav > div.wrapper > main > ol > li.menu-item-60 > p::after
    {
        border-top-color: #782223;
        border-left-color: #782223;
    }

    body:not([data-columns="0.5"]) #outro
    {
        position: relative;
        padding-top: 0.75rem;
    }
    body:not([data-columns="0.5"]) #outro::after
    {
        content: '';
        display: block;
        position: absolute;
        top: 0.75rem;
        left: 50%;
        bottom: 0.75rem;
        width: 0;
        padding-top: 0;
        border-left: 1px solid #0192D3;
    }

    body:not([data-columns="0.5"]) #outro > section
    {
        float: left;
        width: 50%;
        margin-top: 0;
        padding-top: 0;
        padding-left: 0.75rem;
        border-top-width: 0;
        box-sizing: border-box;
    }

    body:not([data-columns="0.5"]) #outro > section:first-child
    {
        padding-left: 0;
        padding-right: 0.75rem;
    }

    body:not([data-columns="0.5"]) #outro > section > header,
    body:not([data-columns="0.5"]) #outro > section > div.wrapper
    {
        float: left;
        width: 100%;
    }

    body:not([data-columns="0.5"]) #outro > section:first-child > header,
    body:not([data-columns="0.5"]) #outro > section:first-child > div.wrapper
    {
        float: right;
        text-align: right;
    }
}

@media all and (min-width: 70.62rem) {
    body:not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #nav > div.wrapper > main > ol
    {
        width: 65rem;
        max-width: 65rem;
    }

    body:not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #wrapper::after
    {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 22.5rem;
        z-index: -1;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        background-color: #222;
        opacity: 0.5;
    }

    body:not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #outro
    {
        margin-left: -1px;
        padding-top: 0.75rem;
        border-top: 0;
        text-align: right;
        background-color: transparent;
    }

    body:not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #outro::after
    {
        content: none;
        display: none;
    }

    body:not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #outro > section
    {
        float: left;
        width: 100%;
        border-top: 1px solid #0192D3;
        padding-top: 0.75rem;
    }

    body:not([data-columns="0.5"])[data-columns]:not([data-columns="1"]) #outro > section:first-child
    {
        padding-top: 0;
        padding-right: 0;
        border-top-width: 0;
    }
}
