<!DOCTYPE html>
<html class="js-" lang="en-GB">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
         <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
         <title>{% if page.title %}{{ page.title}} | {{ site.title }}{% else %}{{ site.title }} - {{ site.strapline }}{% endif %}</title>
         <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
         <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}"/>
         <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}"/>
         <link type="text/css" href="{{ '/styles/lxqt.css' | relative_url }}" rel="stylesheet"/>
         <link rel="shortcut icon" href="{{ '/images/favicon.png' | relative_url }}" type="image/png"/>
         <script type="text/javascript" src="{{ '/scripts/@module.js' | relative_url }}"></script>
         <script type="text/javascript" src="{{ '/scripts/lxqt.js' | relative_url }}"></script>
    </head>
    <body id="org-lxqt" data-columns="2" itemscope itemtype="http://schema.org/Organization">
        <header id="intro">
            <hgroup id="heading">
                <h1 itemprop="brand" itemscope itemtype="http://schema.org/Brand">
                    <a href="{{ '/' | absolute_url }}" itemprop="url">
                        <img src="/images/lxqt-white.svg" title="{{ site.title }}" alt="{{ site.title }}" itemprop="logo"/>
                        <span itemprop="name">{{ site.title }}</span>
		    </a>
                </h1>
            </hgroup>
            <p class="button action"><button data-action="state.toggle" data-target="#nav"><img src="{{ '/images/webapp-icon-action-menu.svg' | relative_url }}"/></button></p>
            <p class="strapline"><strong><span>{{ site.strapline }}</span></strong></p>
            <nav id="nav" data-state="inert">
                <header>
                    <hgroup>
                        <h1>Menu</h1>
                    </hgroup>
                </header>
                <div class="wrapper">
                    <main>
                        <ul>
                            <li><p><a href="{{ '/about/' | relative_url }}">About</a></p></li>
                            <!--<li><p><a href="{{ site.url | replace_first: 'https://','https://blog.' | replace_first: 'http://','http://blog.' }}">Blog</a></p></li>-->
                            <!--<li><p><a href="{{ site.url | replace_first: 'https://','https://forum.' | replace_first: 'http://','http://forum.' }}">Forum</a></p></li>-->
                            <li><p><a href="{{ '/releases/' | relative_url }}">Releases</a></p></li>
                            <li><p><a href="{{ '/downloads/' | relative_url }}">Downloads</a></p></li>
                            <li><p><a href="{{ '/screenshots/' | relative_url }}">Screenshots</a></p></li>
                            <li><p><a href="{{ site.url | replace_first: 'https://','https://translate.' | replace_first: 'http://','http://translate.' }}">Translations</a></p></li>
                            <li><p><a href="https://github.com/lxqt/lxqt/blob/master/CONTRIBUTING.md">Contribute</a></p></li>
                        </ul>
                    </main>
                </div>
            </nav>
        </header>
        <div id="wrapper" class="wrapper">
            <div id="unrelimp" class="divider">
{% for aside in page.unrelimp %}{% include {{ aside }} %}{% endfor %}
            </div>
            <main id="content">
                <div id="relimp" class="divider">
{% for aside in page.relimp %}{% include {{ aside }} %}{% endfor %}
                </div>
{{ content }}
                <div id="relunimp" class="divider">
{% for aside in page.relunimp %}{% include {{ aside }} %}{% endfor %}
                </div>
            </main>
            <div id="unrelunimp" class="divider">
{% for aside in page.unrelunimp %}{% include {{ aside }} %}{% endfor %}
            </div>
            <footer id="outro">
                <section id="section-legal">
                    <header>
                        <hgroup>
                            <h1>Legal</h1>
                        </hgroup>
                    </header>
                    <div class="wrapper">
                        <main>
                            <p class="license">LXQt is licensed under <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU GPL 2.0+</a> and <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU LGPL 2.1+</a>.<br/>
                                LXQt.org is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC BY-SA 3.0</a>. <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img src="/images/cc-by-sa.png" title="Creative Commons Attribution-Share Alike License" alt="CC BY-SA"/></a>
                            </p>
                        </main>
                        <footer></footer>
                    </div>
                </section>
            </footer>
        </div>
    </body>
</html>
