---
layout: default
---
				<article id="article-post-{{ page.slug }}" class="page post">
					<header>
						<hgroup>
							<h1>{{ page.title }}</h1>
						</hgroup>
						<p class="date"><time datetime="{{ page.date | date: '%F %R' }}">{{ page.date | date: '%A, %-d %B, %Y' }}</time></p>
						{% if page.author %}<p class="author">{{ page.author }}</p>{% endif %}
					</header>
					<div class="wrapper">
						<main>
{{ content }}
						</main>
						<footer>{% if page.meta %}<p class="meta">{{ page.meta }}</p>{% endif %}</footer>
					</div>
				</article>
